
header {
      background-color: black;
      padding: 600px;
    }

 .border {
         border: 1px solid white;
         background: transparent;
         padding: 5px;
         }

#header {
   font-family: 'Cuprum', sans-serif;
   color: white;
      font-size: 80px; }

 .header {
   background-image:url("https://cdn.rawgit.com/kylie-short/project/a57c74af/Clover.jpg");
   background-size: cover;
   }

h4 {
      font-family: 'Open-Sans', sans-serif !important;
}

p {
      font-family: 'Open Sans', sans-serif !important;
}
   

h3 {
      font-family: 'Cuprum', sans-serif !important;
}

footer {
   background-color: grey;
   padding: 40px;
   
}

a {
      font-family: 'Cuprum', sans-serif;
      
}

.content {
   font-family: 'Open Sans', sans-serif; 

}

.white {
   color: white;
}

h2 {
   font-family: 'Cuprum', sans-serif;
}

