
header {
   margin:0px;
   padding: 75px;
   background-color: grey;
   text-align: center;
}

.header {
   font-family: 'Cuprum', sans-serif;
   color: white;
   font-size: 80px;
   }
   
ul {
  list-style: none;
  padding: 15px;
  
  
  }

a {
   text-decoration: none;
   color: white;
}
   
li {
  display: inline;
  font-size: 18px;
  font-family: 'Cuprum', sans-serif !important;
  color: white;
  }
  
li a:hover {
  color:#009900;
  text-decoration: none;
  }

footer {
   background-color: grey;
   padding: 40px;
   
}


.content {
   font-family: 'Open Sans', sans-serif; 

}

.white {
   color: white;
}

h2 {
   font-family: 'Cuprum', sans-serif;
}

