
header {
      background-color: black;
      padding: 600px;
    }

.header {
   font-family: 'Cuprum', sans-serif;
   color: white;
   font-size: 80px;
   }

p {
      font-family: 'Open Sans', sans-serif;
}
   



footer {
   background-color: grey;
   padding: 40px;
   
}


.content {
   font-family: 'Open Sans', sans-serif; 

}

.white {
   color: white;
}

h2 {
   font-family: 'Cuprum', sans-serif;
}

